* {
    margin:0;
    padding:0;
    font-family: 'Lilita One', sans-serif;
    background:#f2df8a;
}

html {
    scroll-behavior:smooth;

}

main{
    border:none;
}

body{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;

}

::-webkit-scrollbar {
    width: 3px;
    height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

.button-sobre {
    border-radius:30%;
    margin:0rem 1rem 0rem;
    width:6rem;
    height:3rem;
    padding:auto;
    color:#74777c;
    background:#f6e9b0;
    border:solid #74777c;
}

.board{
    border:8px solid #eed464;
    width:100%;
    height:3rem;
    display:flex;
    border-radius:3%;
}

.icon-classi{
    width:3rem;
    height:3rem;
    //border-radius:50%;
    padding:center;
    margin:0rem 29rem 0rem;
    display:flex;
    aling-item:center;
    //opacity:0.3;
}

.h-upload{
    margin:center;
    padding:center;
    color:#74777c;
    font: 200px;
    text-align: center;
}

.form-upload{
    margin:center;
    padding:3rem;
    color:#74777c;
    font:200px;
    text-align:center
}

.button-sub{
    color:#74777c;
    border-radius:5%;
}

.square-img{
    width:250px;
    height:200px;
    border:4px solid #74777c;
    
    background:white; 
    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);
}

.footer-back{
    margin:center;
    padding:20rem;
    color:#74777c;
    font:200px;
    text-align:center;
}